<template>
  <h2>People</h2>

  <p v-for="person in list" :key="person.name">
    {{ person.name }}
  </p>

</template>

<script setup>
import { defineExpose, ref } from 'vue'

const list = ref([])

const fetchData = async () => {
  const res = await fetch('/people/list.json')
  return res.json()
}

list.value = await fetchData()

defineExpose({ list })
</script>
