<template>
  <Suspense>
    <PeopleList />

    <template #fallback>
      Loading...
    </template>
  </Suspense>
</template>

<script setup>
import PeopleList from './components/PeopleList'
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
